<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ffmpeg.egg.io.mediacodectest">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DecoderPlayActivity" />
        <activity android:name=".activity.ExtractorTestActivity" />
        <activity android:name=".activity.EncoderTestActivity" />
        <activity android:name=".activity.EncoderOpenglActiivity" />
        <activity android:name=".activity.FilterTestActivity" />
        <activity android:name=".activity.BeautyActivity" />
        <activity android:name=".activity.RecordActivity" />
        <activity android:name=".activity.EditActivity"></activity>
    </application>

</manifest>